
.container{
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}


.searchinput{
  width: 100%;
  padding: 15px;
  border: 1px solid blue;
  margin-bottom: 20px;
}


.inputform input{
  margin-right: 5px;
  width: 40%;
  padding: 10px;
  border: 1px solid yellow;
}


button[type=submit]{
    padding: 10px;
    margin: 0 auto;
    color: red;
}
  
